
IDD_INCOME_DLG DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "收入管理"
FONT 8, "MS Shell Dlg"
BEGIN
CONTROL "", IDC_LIST_INCOME, "SysListView32", LVS_REPORT | WS_BORDER | WS_TABSTOP, 10, 10, 380, 220
PUSHBUTTON "添加", IDC_BTN_ADD_INCOME, 10, 240, 70, 20
PUSHBUTTON "编辑", IDC_BTN_EDIT_INCOME, 90, 240, 70, 20
PUSHBUTTON "删除", IDC_BTN_DELETE_INCOME, 170, 240, 70, 20
PUSHBUTTON "导出/打印", IDC_BTN_PRINT_INCOME, 250, 240, 90, 20
END

IDD_EXPENSE_DLG DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "支出管理"
FONT 8, "MS Shell Dlg"
BEGIN
CONTROL "", IDC_LIST_EXPENSE, "SysListView32", LVS_REPORT | WS_BORDER | WS_TABSTOP, 10, 10, 380, 220
PUSHBUTTON "添加", IDC_BTN_ADD_EXPENSE, 10, 240, 70, 20
PUSHBUTTON "编辑", IDC_BTN_EDIT_EXPENSE, 90, 240, 70, 20
PUSHBUTTON "删除", IDC_BTN_DELETE_EXPENSE, 170, 240, 70, 20
PUSHBUTTON "导出/打印", IDC_BTN_PRINT_EXPENSE, 250, 240, 90, 20
END

IDD_INCOME_EDIT_DLG DIALOGEX 0, 0, 300, 160
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "编辑收入"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT "金额:", -1, 10, 10, 40, 12
EDITTEXT IDC_EDIT_AMOUNT, 60, 8, 220, 14, ES_LEFT
LTEXT "来源:", -1, 10, 34, 40, 12
EDITTEXT IDC_EDIT_SOURCE, 60, 32, 220, 14, ES_LEFT
LTEXT "备注:", -1, 10, 58, 40, 12
EDITTEXT IDC_EDIT_NOTE, 60, 56, 220, 50, ES_LEFT | ES_MULTILINE
DEFPUSHBUTTON "确定", IDOK, 60, 116, 60, 20
PUSHBUTTON "取消", IDCANCEL, 140, 116, 60, 20
END

IDD_EXPENSE_EDIT_DLG DIALOGEX 0, 0, 300, 180
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "编辑支出"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT "金额:", -1, 10, 10, 40, 12
EDITTEXT IDC_EDIT_AMOUNT, 60, 8, 220, 14, ES_LEFT
LTEXT "类别:", -1, 10, 34, 40, 12
EDITTEXT IDC_EDIT_CATEGORY, 60, 32, 220, 14, ES_LEFT
LTEXT "备注:", -1, 10, 58, 40, 12
EDITTEXT IDC_EDIT_NOTE, 60, 56, 220, 70, ES_LEFT | ES_MULTILINE
DEFPUSHBUTTON "确定", IDOK, 60, 136, 60, 20
PUSHBUTTON "取消", IDCANCEL, 140, 136, 60, 20
END
